#filterList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  color: $color-white;

  label {
    width: 100%;
    font-size: 1.6rem;
    margin: 0 0 1rem;
  }

  input {
    padding: 0.5rem;
  }

  input {
    width: 100%;
  }
}
