table {
  font-size: 1.6rem;
  position: relative;
  background-color: $color-secondary;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  top: 0;

  th,
  td,
  tr {
    padding: 0.5rem;
    white-space: nowrap;
  }

  th {
    position: sticky;
    top: 0;
    background-color: $color-black;
  }

  tbody {
    position: relative;
    top: 0;
  }

  tr:nth-of-type(odd) {
    background-color: $color-black;
  }

  tr:nth-of-type(even) {
    background-color: $color-dark;
  }
}
