// COLOR VARIABLES
$color-dark: rgb(44, 44, 44);
$color-secondary: rgb(68, 68, 68);

$color-black: #0f0f0f;
$color-white: #fff;

// GOOGLE FONT
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:700i&display=swap');

// GLOBAL STYLES
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-style: italic;
  position: relative;
}

body * {
  font-size: 1rem;
}

.App {
  text-align: left;
  font-size: 0.7rem;
  background-color: rgb(15, 75, 128);
  min-height: 100vh;
  height: 100%;
}

.App-container {
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  margin: 0 auto;
  overflow: scroll;
}
